<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>AdminLab</title>
<link th:href="@{/lib/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
<div class="index-box">
    <div class="index-head">
        <div class="head-left">
            <!-- <a href="javascript:;" class="logo"></a> -->
            <a href="javascript:;" class="logo-text">AdminLab</a>
        </div>
        <div class="head-right">
            <a class="bar hide-left-bar"><span class="glyphicon glyphicon-th-list"></span></a>
            <div class="right-bar-box">
                <a class="bar" th:href="@{/}">首页</a>
                <a class="bar"><img th:src="@{/user-image.png}" class="user-image" alt="用户头像"> 用户名</a>
                <a class="bar" th:href="@{/}"><span class="glyphicon glyphicon-log-out"></span></a>
            </div>
        </div>
    </div>
    <div class="index-body">
        <div class="body-left">
            <div class="sidebar-menu-scroll">
                <div class="sidebar-menu">
                    <th:block th:include="this::menuTree(${menuTree})"></th:block>
                </div>
            </div>
        </div>
        <div class="body-right">
            <iframe id="rightFrame" name="rightFrame" frameborder="0" th:src="@{/welcome.html}"></iframe>
        </div>
    </div>
</div>
<div th:fragment="menuTree(menuList)" th:if="${false}">
    <ul class="menu-list">
        <li th:each="menu:${menuList}">
            <a th:if="${not menu.leafNode}" class="overtext" href="javascript:;">
                <span th:class="'icon-left glyphicon '+${menu.hasIcon?menu.icon:'glyphicon-folder-open'}"></span>
                <span class="icon-right glyphicon glyphicon-chevron-down"></span>
                <span th:text="${menu.name}" th:title="${menu.name}"></span>
            </a>
            <div th:if="${not menu.leafNode}" class="menu-expand" hidden="true">
                <th:block th:include="this::menuTree(${menu.subNodeList})"></th:block>
            </div>
            <a th:if="${menu.leafNode}" class="overtext" th:href="@{${menu.url}}" th:target="rightFrame">
                <span th:class="'icon-left glyphicon '+${menu.hasIcon?menu.icon:'glyphicon-file'}"></span>
                <span th:text="${menu.name}" class="menu-tip"></span> 
            </a>
        </li>
    </ul>
</div>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/lib/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>