<html>
<head>
<title>admin</title>
<link th:href="@{/lib/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/lib/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="main-box">
<div class="main-header"></div>
<div class="main-sidebar">
    <div class="sidebar-menu">
        <!-- <th:block th:include="this::menuTree(${menuTree})"></th:block> -->
        <ul class="menu-list">
            <li>
                <a>
                    <span class="icon-left glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <span class="icon-right glyphicon glyphicon-chevron-down"></span>
                    <span>一级菜单</span>
                </a>
                <div class="menu-expand">
                    <ul class="menu-list">
                        <li>
                            <a class="active">
                                <span class="icon-left glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                <span class="icon-right glyphicon glyphicon-chevron-down"></span>
                                <span>二级菜单</span>
                            </a>
                            <div class="menu-expand">
                                <ul class="menu-list">
                                    <li>
                                        <a>
                                            <span class="icon-left glyphicon glyphicon-file" aria-hidden="true"></span>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main-content"></div>
</div>
<!-- <div th:fragment="menuTree(menuTree)" th:if="${false}">
    <ul class="nav nav-list nav-first">
        <li th:each="menu:${menuTree}">
            <a th:if="${menu.hasexpandMenu}" href="#">
                <span class="icon-left glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <span class="icon-right glyphicon glyphicon-chevron-down"></span>
                <span th:text="${menu.menuName}"></span>
            </a>
            <ul th:if="${menu.hasexpandMenu}" class="nav nav-list nav-expand" hidden="hidden">
                <li>
                    <th:block th:include="this::menuTree(${menu.expandrenMenu})"></th:block>
                </li>
            </ul>
            <a th:if="${not menu.hasexpandMenu}" th:href="@{${menu.url}}" th:target="menuFrame">
                <span class="icon-left glyphicon glyphicon-file" aria-hidden="true"></span>
                <span th:text="${menu.menuName}"></span> 
            </a>
        </li>
    </ul>
</div> -->
</body>
</html>